<div class="container-fluid bg-color">
  <div ng-app="myApp" ng-controller="myController" class="container">
    <div class="col-md-6" style="margin:auto; text-align:center;">
      <h1 class="my-0 mr-md-auto mb-10 font-weight-normal">
        <a href="#home">
          <a [routerLink]="['/']"><img src="assets/quote/images/logo.png" class="img-fluid nav-brand" /></a>
        </a>

      </h1>

    </div>
    <form [formGroup]="signinForm" (ngSubmit)="signin()">

      <div class="login-container">

        <div class="row">
          <div class="col-md-12">

            <div class="form-group">
              <label>Email</label>
              <input type="email" name="email" [formControl]="signinForm.controls['email']" placeholder="Email" required
                class="form-control">
              <!--             <div ng-show="myForm.email.$error.email" class="error">Invalid email!</div>
                <div ng-show="myForm.email.$error.required &amp;&amp; myForm.email.$touched" class="error">Required!</div> -->
            </div>
            <span *ngIf="signinForm.controls['email'].hasError('required') && signinForm.controls['email'].touched" class="pull-left input-group formerror-msg invalid-feedback">
              Email is required
            </span>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="password" [formControl]="signinForm.controls['password']"
                placeholder="Password" required class="form-control">
              <!--  <div ng-show="myForm.pass.$error.required &amp;&amp; myForm.pass.$touched" class="error">Required!</div> -->
            </div>
            <span *ngIf="signinForm.controls['password'].hasError('required') && signinForm.controls['password'].touched" class="pull-left input-group formerror-msg invalid-feedback">
              Password is required
            </span>
            <span *ngIf="loginStatus!=''" class="pull-left input-group formerror-msg invalid-feedback">
              {{loginStatus}}
            </span>
          </div>
          <div class="col-md-12">
            <div class="form-group">


              <button [disabled]="signinForm.invalid" type="submit" class="btn  contact100-form-btn pull-right">Login</button>
              <div class="col-md-8 no-padding">
                <label style="font-size:13px;"> <a href="">Forgot your password?</a></label>
                <p style="font-size:13px;">New User?<a href=""> Sign Up Now</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!--           <div ng-show="showError" class="alert alert-danger">Wrong credentials!</div>
              <div ng-show="showSuccess" class="alert alert-success">Login Successful!</div> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>