.badge-secondary{background: #fc5846; padding: 15px; border-radius: 5px;}
.p-2{font-size: 12px;} .fa{    color: #fff !important;}
.thanks{text-align: center;display: inherit;padding-top: 2px;font-size: 15px;
    color: #fff;}